<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleFontWeight]="'bold'"
        [titleColor]="'orange'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleFontWeight]="'bold'"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [showUnits]="false"
        [title]="'JS'"
        [titleFontWeight]="'bold'"
        [titleColor]="'yellow'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [showUnits]="false"
        [title]="'Java'"
        [titleFontWeight]="'bold'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="45"
        [radius]="100"
        [showUnits]="false"
        [title]="'Inglés'"
        [titleFontWeight]="'bold'"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="55"
        [radius]="100"
        [showUnits]="false"
        [title]="'GitHub'"
        [titleFontWeight]="'bold'"
        [titleColor]="'black'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [title]="'Equipo'"
        [titleFontWeight]="'bold'"
        [titleColor]="'black'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [title]="'Respeto'"
        [titleFontWeight]="'bold'"
        [titleColor]="'blue'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [title]="'Lealtad'"
        [titleFontWeight]="'bold'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
    ></circle-progress>
    </div>
</div>
