<div class="row">
    <p>                    </p>
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Administrativo - Departamento Ventas, FAVOT SA</h1>  
                <h3> (Dic 2020 - Abr 2021)</h3>
            </li>
            <p>
                • Asistencia administrativa en ventas a Gerencia.
            </p>   
            <p>
                • Revisión de documentos y control de archivos.
            </p>          
        </ul>
        <ul>
            <li>
                <h1>Secretario Jurídico, Estudio Fernández</h1>  
                <h3>(Abr 2016 - Nov 2020)</h3>
            </li>
            <p>
                • Recepción de Clientes.
            </p>   
            <p>
                • Administración de archivos físicos y digitales.
            </p>
            <p>
                • Asistencia a mesa de entradas.
            </p>          
        </ul>
    </div>
</div>
