<div class="row">
    <h1>Educación Terciaria</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Tecnicatura Superior en Programación</h1>
                <h2>Teclab Instituto Técnico Superior</h2>  
                <h3> (En curso)</h3>
            </li>    
        </ul>
    </div>
    <p> </p>
    <p> </p>
    <h1>Cursos - Extensiones Universitarias</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Argentina Programa #YoProgramo - Programación web full stack Jr</h1>
                <h2> INTI</h2>  
                <h3>(2022)</h3>
            </li>    
        </ul>
        <ul>
            <li>
                <h1> Argentina Programa #SéProgramar </h1>
                <h2> Ministerio de Desarrollo Productivo Argentina </h2>  
                <h3>(2021)</h3>
            </li>    
        </ul>
        <ul>
            <li>
                <h1> Diplomatura en Introducción a la Programación en Java</h1>
                <h2> UTN Villa María </h2>  
                <h3>(2021)</h3>
            </li>    
        </ul>
        <ul>
            <li>
                <h1> Diplomatura en Impresión 3D</h1>
                <h2> UTN San Nicolás </h2>  
                <h3>(2021)</h3>
            </li>    
        </ul>
        <ul>
            <li>
                <h1> Robótica Educativa </h1>
                <h2> UTN Villa María </h2>  
                <h3>(2021)</h3>
            </li>    
        </ul>
        <ul>
            <li>
                <h1> Gestoría del Automotor y Créditos Prendarios </h1>
                <h2> Instituto Superior de Enseñanza </h2>  
                <h3>(2021)</h3>
            </li>    
        </ul>
        <ul>
            <li>
                <h1> Diseño Gráfico </h1>
                <h2> UTN Villa María </h2>  
                <h3>(2020)</h3>
            </li>    
        </ul>
        <ul>
            <li>
                <h1> Operador de PC </h1>
                <h2> UTN Villa María </h2>  
                <h3>(2019)</h3>
            </li>    
        </ul>
        <ul>
            <li>
                <h1> Capacitaciones en Marketing y Ventas. </h1>
            </li>    
        </ul>
</div>
    <h1>Idiomas</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Inglés </h1>
                <h2> Nivel Básico </h2>  
            </li>    
        </ul>
</div>    
